<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563620499827-jj15umjbv3pg1kgpe1o6ceq96doj50sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563620499827-jj15umjbv3pg1kgpe1o6ceq96doj50sh</string>
	<key>API_KEY</key>
	<string>AIzaSyBF8nCy4l2Nz4v-wC5tGkswv0oDdJ6S7_I</string>
	<key>GCM_SENDER_ID</key>
	<string>563620499827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.fluttertutorial.flutterLoginUi</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-ui-fe2d6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-ui-fe2d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563620499827:ios:ba59e69caba47f38e3f506</string>
</dict>
</plist>